// bower:scss
// endbower
$footer-color : #AfAfAf;

body {
  align: center;
  padding: 50px 0px 0px 0px;
  z-index: 0;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.row-footer {
  margin: 0px auto;
  padding: 20px 0px;
  background-color: $footer-color;
}
